body {
  font-family: sans-serif;
  background: #f4f4f4;
}

.container {
  width: 400px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

input {
  width: 70%;
  padding: 6px;
}

button {
  margin-left: 5px;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.completed span {
  text-decoration: line-through;
  color: gray;
}
